<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head') %>
    <title>404 Error</title>
</head>

<body>
    <div class="wrapper">

     <header>
         <h1>404 Error</h1>
         <h2 class="error">Er ging iets verkeerd!</h2>
    </header>

    <main>
        <img class="errorlogo" src="../static/img/logoerror.svg" alt="">
    </main>

    <a class="next" href="/">Home</a>

    </div>
    <% include('tail') %>
 
</body>

</html>