<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head') %>
    <title>Profiel</title>
</head>

<body>
    <div class="wrapper">
<p>hi <%= data.firstName %> </p>
     <header class="profileheader" >
            <img src="../static/img/logoutbutton.svg" alt="">
            <img src="../static/img/cam.png" alt="">
     </header>

    <main>
        <form action="">
        <legend>Wie ben jij?</legend>
        <label for="firstName">Voornaam</label>
        <input class="firsttype" type="text" name="firstName" placeholder="Voornaam" required> <%= data.firstName %>


        <label for="age">Leeftijd</label>
        <input type="number" name="age" placeholder="Leeftijd" required>


        <label for="hometown">Plaatsnaam</label>
        <input type="text" name="hometown" placeholder="Plaatsnaam" required>


        <label for="gender">Geslacht</label>

        <input type="radio" name="gender" value="man" checked="checked" required>
        <label class="man" for="man">Man</label>
        <span class="checkmark"></span>

        <input type="radio" name="gender" value="vrouw" required>
        <label for="vrouw">Vrouw</label>
        <span class="checkmark"></span>

        <input type="radio" name="gender" value="beide" required>
        <label for="beide">Beide</label>
        <span class="checkmark"></span>

        
        <label for="searchSex">Zoekt naar</label>

        <input type="radio" name="searchSex" value="man" checked="checked" required>
        <label for="man">Man</label>
        <span class="checkmark"></span>

        <input type="radio" name="searchSex" value="vrouw" required>
        <label for="vrouw">Vrouw</label>
        <span class="checkmark"></span>

        <input type="radio" name="searchSex" value="beide" required>
        <label for="beide">Beide</label>
        <span class="checkmark"></span>


        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="E-mailadres" required>

        <label for="password">Wachtwoord</label>
        <input type="password" name="password" placeholder="Password" required>

        <a class="next" href="profile">Back</a>
        </form>
    </main>

    </div>
    <% include('tail') %>
 
</body>

</html>